.s-main-nav {

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin: 0;

    @media (min-width: $screen-sm) {

      & + & {
        margin-left: 3rem;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    color: currentColor;

    &::before {
      content: '';
      position: absolute;
      left: -0.5rem;
      right: -0.5rem;
      top: -0.5rem;
      bottom: -0.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid currentColor;
      transform: scaleX(0);
      transition: transform 0.3s cubic-bezier(0.4,0,0,1);
      transform-origin: center right;
    }

    &:hover,
    &:focus {

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }
}
