.s-promo {
  padding: 30vh 0 10vw 10%;

  @media (min-width: $screen-sm) {
    padding: 20vw 0 10vw 10%;
  }

  &__inner {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 3.998rem;
    line-height: 0.9em;
    text-indent: -0.25rem;
    margin-bottom: 3rem;

    span {
      display: block;

      &:last-child {
        position: relative;

        &::after {
          position: relative;
          content: 'Web Agency';
          font-size: 0.707rem;
          line-height: 1rem;
          vertical-align: top;
          top: 0.9rem;
          left: 0.5rem;
        }
      }
    }

    @media (min-width: $screen-sm) {
      font-size: 7.993rem;
      line-height: 0.8em;
      text-indent: -0.5rem;
      padding-right: 20vw;

      span {

        &:last-child {
          position: relative;

          &::after {
            top: 1.6rem;
            left: 1rem;
          }
        }
      }
    }
  }

  &__desc {
    margin-top: 2rem;
    position: relative;
    max-width: 300px;

    &::before {
      position: absolute;
      content: '';
      background: currentColor;
      height: 1px;
      width: 3rem;
      left: 0;
      top: -1rem;

      @media (min-width: $screen-sm) {
        width: 6rem;
      }
    }
  }
}