.s-briefly {
  padding: 6rem 0;

  @media (min-width: $screen-sm) {
    padding: 10vw 0;
  }

  &__inner {
    margin-left: 10%;
    margin-right: 10%;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 30%;
      margin-right: 30%;
      width: 40%;
    }
  }

  &__subtitle {
    font-size: 0.5rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1.5rem;
  }

  &__about {
    margin-bottom: 4rem;
    font-size: 0.707rem;
    line-height: 1rem;

    @media (min-width: $screen-sm) {
      order: 2;
      margin-bottom: 0;
      max-width: 370px;
      width: 50%;
      flex-basis: auto;
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    max-width: 370px;
  }

  &__services {

    @media (min-width: $screen-sm) {
      order: 1;
      width: 50%;
      flex-basis: auto;
    }
  }

  &__services-list {
    font-size: 1rem;
    line-height: 1em;
  }

  &__services-item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__services-link {
    color: currentColor;
    display: block;
  }
}