.s-page-header {
  font-size: 0.707rem;
  line-height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  @media (min-width: $screen-lg) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__inner {
    max-width: 2880px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5%;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      padding: 3rem 5% 0;
    }
  }

  &__logo {
    margin-bottom: 1rem;
    display: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    @media (min-width: $screen-sm) {
      margin: 0;
      display: block;
    }
  }

  &__nav {

    @media (max-width: 374px) {
      font-size: 0.75em;
    }

    @media (min-width: $screen-sm) {
      margin-left: auto;
    }
  }

  &--dark {
    background-color: #1c1c1c;
    color: $white;
  }
}