mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      .s-page-header__logo Springbay
      .s-page-header__nav
        nav.s-main-nav
          ul.s-main-nav__list
            li.s-main-nav__item
              a.s-main-nav__link(href='/') Проекты
            li.s-main-nav__item
              a.s-main-nav__link(href='/') Услуги
            li.s-main-nav__item
              a.s-main-nav__link(href='/') Контакты
