.s-project {

  &__header {
    position: relative;
    height: 50vh;

    @media (min-width: $screen-md) {
      height: 100vh;
    }
  }

  &__cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-md) {
      left: 35%;
      top: 20%;
      height: 80%;
      width: 65%;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    padding: 0 10%;
    z-index: 2;
    font-size: 12vw;
    line-height: 0.9em;
    position: absolute;
    bottom: -5vw;

    @media (min-width: $screen-md) {
      bottom: calc(50% - 4rem);
    }
  }

  &__info {
    padding: 4rem 0;

    @media (min-width: $screen-sm) {
      padding: 10vw 0;
    }
  }

  &__info-inner {
    margin-left: 10%;
    margin-right: 10%;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
    }

    @media (min-width: $screen-md) {
      margin-left: 30%;
      margin-right: 30%;
      width: 40%;
    }
  }

  &__tech {

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: auto;
    }
  }

  &__desc {

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      max-width: 370px;
      width: 50%;
      flex-basis: auto;
    }
  }

  &__year {
    font-size: 0.707rem;
    line-height: 1rem;
    margin-bottom: 0.75rem;
  }

  &__spec {
    position: relative;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    margin-bottom: 2rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    display: flex;
    flex-direction: column;
    opacity: 0.5;

    &::before {
      position: absolute;
      content: '';
      background: currentColor;
      opacity: 0.5;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__page {
    padding: 5% 10%;

    img {
      display: block;
    }

    @media (min-width: $screen-sm) {
      padding: 10% 20%;
    }

    &--bg-white {
      background-color: $white;
    }
  }

  &__mockup {

    img {
      display: block;
    }
  }

  &__pages-list {
    padding: 10vw 0;
    background: #fff;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__pages-item {
    margin: 0;
    padding: 5%;
    width: 100%;
    background-color: #f2f2f2;

    @media (min-width: $screen-sm) {
      flex-basis: auto;
      width: 100%;
      max-width: 42%;

      &:nth-child(odd) {
        align-self: flex-end;
      }

      &:not(:first-child) {
        margin-top: -10vw;
      }
    }

    img {
      display: block;
    }
  }

  &__delimiter {
    width: 100%;
    height: 100vh;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__next-project {
    min-height: 50vh;
    overflow: hidden;
    position: relative;
    display: block;
    cursor: pointer;
    color: currentColor;
  }

  &__next-project-sub-text {
    display: block;
    padding: 0 10%;
    z-index: 2;
    font-size: 0.5rem;
    opacity: 0.5;
    line-height: 2rem;
    position: absolute;
    bottom: 15vh;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__next-project-name {
    display: block;
    padding: 0 10%;
    z-index: 2;
    font-size: 3.998rem;
    line-height: 3.5rem;
    position: absolute;
    bottom: -5vh;

    @media (min-width: $screen-sm) {
      font-size: 7.993rem;
      line-height: 8rem;
      text-indent: -0.5rem;
    }
  }
}