.s-selected-projects {
  padding: 6rem 0;

  @media (min-width: $screen-sm) {
    padding: 10vw 0;
  }

  &__inner {
    margin-left: 10%;

    @media (min-width: $screen-md) {
      margin-left: 30%;
    }
  }

  &__header {
    margin-bottom: 2rem;
    margin-left: 10%;

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__caption {
    font-size: 0.5rem;
    letter-spacing: 0.2em;
    line-height: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    display: block;
  }

  &__subtitle {
    font-size: 2.827rem;
    text-indent: -0.25rem;
    line-height: 1em;
  }

  &__list {
    position: relative;
    margin-bottom: 3rem;
  }

  &__item {
    margin: 0;
    position: relative;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:first-child {

      &::before {
        position: absolute;
        content: '';
        background-color: currentColor;
        height: 1px;
        width: 100%;
        left: 0;
        top: 0;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background-color: currentColor;
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }

  &__project-info {
    flex-basis: auto;
    width: 80%;
  }

  &__project-name {
    display: block;

    @media (min-width: $screen-sm) {
      font-size: 1.999rem;
      line-height: 1em;
    }
  }

  &__project-desc {
    display: block;
    font-size: 0.707rem;
    line-height: 1rem;
    padding-top: 0.5rem;
    opacity: 0.5;
  }

  &__project-date {
    flex-basis: auto;
    width: 20%;
    opacity: 0.5;
    font-size: 0.707rem;
    line-height: 1.5rem;
  }

  &__project-action {
    padding-top: 3rem;
    flex-basis: auto;
    width: 100%;
  }

  &__more-projects {
    display: inline-block;
    font-size: 0.707rem;
    line-height: 1rem;
    position: relative;
    color: currentColor;

    &::before {
      content: '';
      position: absolute;
      left: -0.5rem;
      right: -0.5rem;
      top: -0.5rem;
      bottom: -0.5rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid currentColor;
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.4,0,0,1);
      transform-origin: center left;
    }

    &:hover,
    &:focus {

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }
}