mixin selected-projects()

  section.s-selected-projects

    .s-selected-projects__header
      span.s-selected-projects__caption Портфолио
      h2.s-selected-projects__subtitle Проекты

    .s-selected-projects__inner
      ul.s-selected-projects__list
        li.s-selected-projects__item
          +selected-project('In Pride', 'Web design and front-end for interior studio', '2019')
            +more('Больше', '/inpride.html')
        li.s-selected-projects__item
          +selected-project('Династия', 'Аэрофотосъемка, дизайн и разработка сайта жилого комплекса', '2018')
            +more('Больше', '/dynasty.html')
        li.s-selected-projects__item
          +selected-project('Геологический факультет МГУ', 'Разработка сайта и системы управления публикациями', '2018')
            +more('Больше', '/mgu.html')
        li.s-selected-projects__item
          +selected-project('Легион', 'Разработка сайта для Центра подготовки юных хоккеистов', '2017')
            +more('Больше', '/legion.html')
        li.s-selected-projects__item
          +selected-project('Специалист', 'Дизайн и разработка сайта лаборатории', '2017')
            +more('Больше', '/laboratory.html')
        li.s-selected-projects__item
          +selected-project('Центр Государственной Экспертизы', 'Дизайн и разработка сайта учреждения', '2018')
            +more('Больше', '/spbexp.html')

      a.s-selected-projects__more-projects(href='/') Больше проектов


mixin selected-project(title, desc, year)

  .s-selected-projects__project-info
    span.s-selected-projects__project-name #{title}
    span.s-selected-projects__project-desc #{desc}
  .s-selected-projects__project-date #{year}
  .s-selected-projects__project-action
    block
