include mixins.pug

doctype html
html(class='no-js page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google' value='notranslate')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    .page__inner
      .page__content
        block header
          p Header
        block content
          p Page Content

      .page__footer-wrapper
        block footer
          p Footer

    block page-bottom
      //- script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js')
      script(src='js/script.min.js')
