//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/briefly/briefly.pug
include ../blocks/more/more.pug
include ../blocks/selected-projects/selected-projects.pug
include ../blocks/project/project.pug
include ../blocks/dynasty/dynasty.pug
include ../blocks/projects/projects.pug
