.s-more {
  font-size: 0.707rem;
  color: currentColor;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -0.5rem;
    right: -0.5rem;
    top: -0.5rem;
    bottom: -0.5rem;
  }

  svg {
    vertical-align: middle;
    margin-left: 0.25rem;
    transform: rotate3d(0,0,1,-45deg);
  }
}