mixin more(text, href)

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-more--' + modsList[i].trim();
      }
    }

  a.s-more(class=allMods, href=href)&attributes(attributes)
    != text
    svg(viewBox='0 0 13 9', width='13', height='9', xmlns='http://www.w3.org/2000/svg')
      path(d='M8.43.236a.396.396 0 0 0-.693.166.406.406 0 0 0 .132.402l2.863 2.899H1.27a.402.402 0 0 0-.379.403c0 .215.166.393.379.404h9.462L7.865 7.406a.414.414 0 0 0 0 .567.394.394 0 0 0 .56 0l3.547-3.587a.396.396 0 0 0 0-.567L8.43.236z', fill-rule='evenodd')
