mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner

      a.s-page-footer__logo(href='/') Springbay

      ul.s-page-footer__contact-list
        li.s-page-footer__contact-item
          h3.s-page-footer__contact-subtitle Телефон
          a.s-page-footer__contact-link(href='tel:+78126428386') +7 812 642 83 86
        li.s-page-footer__contact-item
          h3.s-page-footer__contact-subtitle E-mail
          a.s-page-footer__contact-link(href='mailto:info@springbay.ru') info@springbay.ru

      ul.s-page-footer__nav-list
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') Проекты
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') Услуги
        li.s-page-footer__nav-item
          a.s-page-footer__nav-link(href='/') Контакты

      span.s-page-footer__copyright
        span © 2019.
        a(href='http://voima.ru', target='_blank', rel='noopener') Voima LLC

