.s-page-footer {
  background-color: #1c1c1c;
  color: $white;
  width: 90%;
  padding: 4rem 1rem 2rem;

  @media (min-width: $screen-sm) {
    padding: 6rem 1rem 3rem 10%;
  }

  &__inner {
    max-width: 1000px;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 1.414rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    color: currentColor;
    display: inline-block;
  }

  &__contact-list {
    margin-bottom: 3rem;

    @media (min-width: $screen-sm) {
      padding-right: 2rem;
    }
  }

  &__contact-subtitle {
    font-size: 0.5rem;
    letter-spacing: 0.2em;
    line-height: 1rem;
    text-transform: uppercase;
    opacity: 0.25;
  }

  &__contact-item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__contact-link {
    display: inline-block;
    color: currentColor;
    font-size: 0.707rem;
    line-height: 1rem;
    opacity: 0.75;
  }

  &__nav-list {
    @extend .s-page-footer__contact-list;
  }

  &__nav-item {
    margin: 0;
  }

  &__nav-link {
    @extend .s-page-footer__contact-link;
  }

  &__copyright {
    font-size: 0.5rem;
    line-height: 1rem;
    padding-top: 2rem;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-top: 8rem;
    }

    span {
      opacity: 0.25;
    }

    a {
      color: currentColor;
      opacity: 0.5;
    }
  }
}