.s-projects {

  &__inner {
    will-change: transform;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 6rem 0;
    counter-reset: figure;
  }

  .item {
    margin: 20vh auto;
    max-width: 100%;
    position: relative;
    will-change: transform;
  }

  .item::before {
    counter-increment: figure;
    content: counter(figure, decimal-leading-zero);
    position: absolute;
    font-size: 10rem;
    line-height: 1em;
    bottom: calc(100% - 3rem);
    opacity: 0.05;
  }

  .item:nth-child(even)::before {
    right: 0;
  }

  .item__img-wrap {
    --aspect-ratio: 1;
    overflow: hidden;
    // width: 500px;
    margin: 0 auto;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    max-width: 100%;
    will-change: transform;
  }

  .item:first-child .item__img-wrap {
    width: calc(100vw - 2rem);
    --aspect-ratio: 19/9;
    --image: url('https://images.unsplash.com/photo-1512972972907-6d71529c5e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80');
  }

  .item:nth-child(2) .item__img-wrap {
    width: 500px;
    --aspect-ratio: 9/12;
    --image: url('https://images.unsplash.com/photo-1557244056-ac3033d17d9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
  }

  .item:nth-child(3) .item__img-wrap {
    width: 1000px;
    --aspect-ratio: 120/76;
    --image: url('https://images.unsplash.com/photo-1541502159746-2720e685e907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1326&q=80');
  }

  .item:nth-child(4) .item__img-wrap {
    width: 800px;
    --aspect-ratio: 900/505;
    --image: url('https://images.unsplash.com/photo-1517886301132-68c2f2762cd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  }

  .item:nth-child(5) .item__img-wrap {
    --aspect-ratio: 6/8;
    --image: url('https://images.unsplash.com/photo-1525287957446-e64af7954611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  }

  .item:nth-child(6) .item__img-wrap {
    width: calc(90vw - 2rem);
    --aspect-ratio: 1500/844;
    --image: url('https://images.unsplash.com/photo-1515387784663-e2e29a23f69e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80');
  }

  .item:nth-child(7) .item__img-wrap {
    width: 900px;
    --aspect-ratio: 1000/749;
    --image: url('https://images.unsplash.com/photo-1529031748770-4b25f079ee22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80');
  }

  .item:nth-child(8) .item__img-wrap {
    width: 900px;
    --aspect-ratio: 1000/562;
    --image: url('https://images.unsplash.com/photo-1518331539918-7a2dbf839306?ixlib=rb-1.2.1&auto=format&fit=crop&w=2849&q=80');
  }

  .item:nth-child(9) .item__img-wrap {
    --aspect-ratio: 60/75;
    --image: url('https://images.unsplash.com/photo-1549323783-f85bb2fedde4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80');
  }

  .item__img {
    --overflow: 40px;
    height: calc(100% + (2 * var(--overflow)));
    top: calc(-1 * var(--overflow));
    width: 100%;
    position: absolute;
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    will-change: transform;
  }

  .item__img--t1 {
    --overflow: 60px;
  }

  .item__img--t2 {
    --overflow: 80px;
  }

  .item__img--t3 {
    --overflow: 120px;
  }

  .item__caption {
    // padding: 2rem 1rem;
  }

  .item__caption-title {
    font-weight: 400;
    line-height: 1em;
    margin-top: 2.5vh;
    font-size: 3rem;
    margin: 0;
  }
}