extends pug/layout-dark.pug

block meta
  - var title = 'ЖК “Династия”';
  title= title
  meta(name='description', content='Аэрофосъемка, дизайн и разработка сайта жилого комплекса “Династия”')

block header
  +page-header()

block content
  section.s-project.s-dynasty
    .s-project__header
      .s-project__cover
        img(src='img/dynasty--cover.jpg', alt='Dynasty')
      h1.s-project__title Династия

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2017
          .s-project__spec
            span Web Design
            span Front-end Development
            span Aerial Photography
        .s-project__desc.
          Создание сайта-презентации высококлассного жилого комплекса “Династия” расположенного в исторической части Петергофа.

    .s-project__page
      img(src='img/dynasty--index.png', alt='')

    .s-project__page.s-project__page--bg-white
      img(src='img/dynasty--main_2.png', alt='')

    .s-project__page
      img(src='img/dynasty--main_3.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/dynasty--main_4.png', alt='')
      li.s-project__pages-item
        img(src='img/dynasty--main_5.png', alt='')
      li.s-project__pages-item
        img(src='img/dynasty--korpus_2.png', alt='')
      li.s-project__pages-item
        img(src='img/dynasty--korpus.png', alt='')
      li.s-project__pages-item
        img(src='img/dynasty--kvartira.png', alt='')
      li.s-project__pages-item
        img(src='img/dynasty--contacts.png', alt='')

    .s-project__delimiter
      img(src="img/dynasty--after.jpg", alt="")

    a.s-project__next-project(href='/mgu.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name MGU
