extends pug/layout.pug

block meta
  - var title = 'Springbay - web agency';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  section.s-promo
    .s-promo__inner
      h1.s-promo__title
        span Spring
        span bay
      .s-promo__desc
        | Комплексный подход
        br
        | к решению маркетинговых задач и разработке.

  section.s-briefly
    .s-briefly__inner
      .s-briefly__about
        h2.s-briefly__subtitle Студия
        p.s-briefly__text Глубоко погружаемся в решение ваших задач, для эффективного достижения поставленной цели.
        +more('Больше', '/')
      .s-briefly__services
        h2.s-briefly__subtitle Услуги
        ul.s-briefly__services-list
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Дизайн
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Разработка
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Интеграция
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Поддержка
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Маркетинг
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Контекстная реклама
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Социальные сети
          li.s-briefly__services-item
            a.s-briefly__services-link(href='/') Консалтинг

  +selected-projects()

block footer
  +page-footer()