extends pug/layout-dark.pug

block meta
  - var title = 'In Pride';
  title= title
  meta(name='description', content='Интерьерный салон')

block header
  +page-header()

block content
  section.s-project
    .s-project__header
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1508061444661-5df0f7609c4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80', alt='In Pride')
      h1.s-project__title In Pride

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2019
          .s-project__spec
            span Web Design
            span Front-end Development

        .s-project__desc.
          Веб-сайт компании In Pride предлагающей индивидуальные интерьерные решения по мебелировке помещений для своих клиентов.

    .s-project__page
      img(src='img/inpride--index.png', alt='')

    .s-project__mockup
      img(src='img/inpride--mockup-1.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/inpride--about.png', alt='')
      li.s-project__pages-item
        img(src='img/inpride--project.png', alt='')
      li.s-project__pages-item
        img(src='img/inpride--news.png', alt='')

    .s-project__delimiter
      img(src="https://images.unsplash.com/photo-1497366672149-e5e4b4d34eb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80", alt="")

    a.s-project__next-project(href='/dynasty.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name Dynasty
