extends pug/layout-dark.pug

block meta
  - var title = 'Специалист';
  title= title
  meta(name='description', content='Лабораторные исследования грунтов, воды и воздуха')

block header
  +page-header()

block content
  section.s-project.s-dynasty
    .s-project__header
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80', alt='Laboratory')
      h1.s-project__title Специалист

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2017
          .s-project__spec
            span Web Design
            span Front-end Development
        .s-project__desc.
          Сайт компании по осуществлению лабораторных исследований грунтов, воды и воздуха при инженерно-геологических изысканиях и производстве строительных работ.

    .s-project__page
      img(src='img/lab--index.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/lab--inner.png', alt='')
      li.s-project__pages-item
        img(src='img/lab--news.png', alt='')
      li.s-project__pages-item
        img(src='img/lab--faq.png', alt='')
      li.s-project__pages-item
        img(src='img/lab--service.png', alt='')

    .s-project__delimiter
      img(src="https://images.unsplash.com/photo-1502495464426-51970a64f4a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80", alt="")

    a.s-project__next-project(href='/inpride.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name Inpride
