extends pug/layout-dark.pug

block meta
  - var title = 'Легион';
  title= title
  meta(name='description', content='Центр подготовки юных хоккеистов')

block header
  +page-header()

block content
  section.s-project.s-dynasty
    .s-project__header
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1512944762364-9c298078bf70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80', alt='Legion')
      h1.s-project__title Легион

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2017
          .s-project__spec
            span Front-end Development
        .s-project__desc.
          Создание сайта с функционалом управления записи на тренировки и сборы Центра подготовки хоккеистов, а так же развитой системы отчетов о посетителях центра.

    .s-project__page
      img(src='img/legion--index.png', alt='')

    .s-project__page.s-project__page--bg-white
      img(src='img/legion--about.png', alt='')

    .s-project__page
      img(src='img/legion--training.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/legion--article.png', alt='')
      li.s-project__pages-item
        img(src='img/legion--process.png', alt='')
      li.s-project__pages-item
        img(src='img/legion--tactic.png', alt='')
      li.s-project__pages-item
        img(src='img/legion--news.png', alt='')
      i.s-project__pages-item
        img(src='img/legion--contacts.png', alt='')

    .s-project__delimiter
      img(src="https://images.unsplash.com/photo-1550865811-d7814cebc70c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80", alt="")

    a.s-project__next-project(href='/spbexp.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name SPBEXP
