extends pug/layout-dark.pug

block meta
  - var title = 'Геологический факультет МГУ им. М.В. Ломоносова';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.s-project.s-dynasty
    .s-project__header
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1523509080324-9183f313dc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2982&q=80', alt='MGU')
      h1.s-project__title МГУ

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2018
          .s-project__spec
            span Front-end Development
        .s-project__desc.
          Разработка сайта с гибкими настройками доступа к редактированию разделов, возможностью информационной рассылки и управления публикациями факультета.

    .s-project__page
      img(src='img/mgu--index.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/mgu--kafedra.png', alt='')
      li.s-project__pages-item
        img(src='img/mgu--news.png', alt='')
      li.s-project__pages-item
        img(src='img/mgu--sotrudnik.png', alt='')

    .s-project__delimiter
      img(src="https://images.unsplash.com/photo-1550815851-b63fe5bf32d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80", alt="")

    a.s-project__next-project(href='/legion.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name Legion
