extends pug/layout-dark.pug

block meta
  - var title = 'Центр Государственной Экспертизы';
  title= title
  meta(name='description', content='Государственное Автономное Учреждение “Центр Государственной Экспертизы”')

block header
  +page-header()

block content
  section.s-project.s-dynasty
    .s-project__header
      .s-project__cover
        img(src='https://images.unsplash.com/photo-1497366216548-37526070297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2301&q=80', alt='SPbEXP')
      h1.s-project__title SPb EXP

    .s-project__info
      .s-project__info-inner
        .s-project__tech
          .s-project__year 2018
          .s-project__spec
            span Web Design
            span Front-end Development
        .s-project__desc.
          Разработка сайта Государственного Автономного Учреждения “Центр Государственной Экспертизы” с реализацией возможности личного обращения к сотруднику используя наглядное представление организационной структуры учреждения.

    .s-project__page
      img(src='img/spbexp--index.png', alt='')

    .s-project__page.s-project__page--bg-white
      img(src='img/spbexp--about.png', alt='')

    .s-project__page
      img(src='img/spbexp--clients.png', alt='')

    ul.s-project__pages-list
      li.s-project__pages-item
        img(src='img/spbexp--team.png', alt='')
      li.s-project__pages-item
        img(src='img/spbexp--service.png', alt='')
      li.s-project__pages-item
        img(src='img/spbexp--contacts.png', alt='')

    .s-project__delimiter
      img(src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2301&q=80", alt="")

    a.s-project__next-project(href='/laboratory.html')
      span.s-project__next-project-sub-text Слeдующий проект
      span.s-project__next-project-name Laboratory
