@font-face {
  font-family: 'Lack';
  src: url('../fonts/lack-regular.woff2') format('woff2'),
       url('../fonts/lack-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}